<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>745044745250-8bhvbb497hnog602emolhs447ntpmgm4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.745044745250-8bhvbb497hnog602emolhs447ntpmgm4</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>745044745250-d7s5pmseht6mmhv2kbfet9ggs9e51jpc.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBSVCEg_iM_gTK1V-TqwrqyZsK9PspnWRw</string>
	<key>GCM_SENDER_ID</key>
	<string>745044745250</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.airbnbAppUi</string>
	<key>PROJECT_ID</key>
	<string>airbnb-7fcda</string>
	<key>STORAGE_BUCKET</key>
	<string>airbnb-7fcda.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:745044745250:ios:d2cd9084b21d2ed625fe7b</string>
</dict>
</plist>